.wrapper
  .banner
    %section.banner__image
    .banner__inner
      %h2.banner__inner--title
        誰でも簡単、人生を変えるフリマアプリ
      %p.banner__inner--text
        今すぐダウンロード
      .banner__inner--icon
        = link_to "#", class: "banner--icon" do
          = image_tag 'bg-appBanner-pict.jpg',class: "appBth"
        = link_to "#", class: "banner__inner--icon" do
          = image_tag 'google-play.svg',class: "gooleBth"
