.search-wrapper
  .search-content
    .sc-side
      .sc-side__sort
        %select{name: :sort_order, class: 'sort-order .sc-side__sort__select'}
          %option{value: "location.pathname", name: "location.pathname"}
            並び替え
          %option{value: "price-asc"}
            価格の安い順
          %option{value: "price-desc"}
            価格の高い順
          %option{value: "created_at-asc"}
            出品の古い順
          %option{value: "created_at-desc"}
            出品の新しい順
      .sc-side__detail
        = search_form_for(@q, url: search_items_path, id: 'item_search_form') do |f|
          %h4.sc-side__detail__title
            %span 詳細検索
            -# キーワードの検索条件
          .sc-side__detail__field
            %h5.sc-side__detail__field__label
              %i.fas-fa-plus
              = f.label :name_or_text_cont, 'キーワードを追加する'
            .sc-side__detail__field__form
              = f.text_field :name_or_text_cont, placeholder: '例)'