.category__child, .category__parent, .category__grandchild{
  display: none;
}

.category__icon,.brands__icon{
  color: #3ccace;
}

.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 11px;
  letter-spacing: 2px;
  // @include hover__color(black, lightgray, 1);
}

.categories{
  &__text{
    
  }
  // padding-bottom: 10px;
  &:hover{
    &__list{
      position: absolute;
      height: 560px;
      background-color: white;
      z-index: 4;
      border-right: 1px solid whitesmoke;
    }
    &__parent{
      top: 122px;
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
        // @include hover__color(white, skyblue, 1);
      }
      li {
        &:hover{
          &__child{
            width: 100%;
            display: block;
            top: 0;
            left: 221px;
            li {
              &:hover{
                &__grandchild{
                  width: 300px;
                  display: block;
                  top: 0;
                  left: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}
