.main {
  background: #EEEEEE;
  &__show {
    padding: 40px;
    margin: 0 auto;
    &__contents {
      width: 700px;
      margin: 0 auto;
      &__content {
        &__item-box {
          background-color: $main-white-color;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            &__photo {
              display: flex;
              position: relative;
              &__content {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                &__upper {
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                &__lawer {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  &__image-box {
                    width: 25%;
                    margin: 0 10px 0 0;
                    &__image {
                      object-fit: cover;
                      height: 87px;
                      width: 100%;
                      vertical-align: bottom;
                    }
                  }
                }
              }
            }
          }
          &__purchase{
            text-align: center;
            background-color: $furima-color;
            margin-bottom: 30px;
            height: 60px;
            &__link{
              text-decoration: none;
              line-height: 60px;
              color: $main-white-color;
              font-size: 25px;
              font-weight: bold;
              display:block;
              width:100%;
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            &__item-price {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__detail {
              font-size: 16px;
            }
          }
          &__detail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__table {
            margin-bottom: 20px;
            color: $main-black-color;
            &__content {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              &__tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                &__tr {
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  &__th {
                    font-style: normal;
                    width: 20%;
                    background-color: #EEEEEE;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  &__td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a{
                      text-decoration: none;
                      color: #3ccace;
                    }
                    &__links {
                      text-decoration: none;
                      color: $furima-color;
                    }
                  }
                }
              }
            }
          }
          &__optional {
            display: flex;
            justify-content: space-between;
            &__left {
              margin: 10px 0 0;
              display: flex;
              list-style: none;
              &__btn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: $furima-color;
                border: 1px solid #ffb340;
              }
            }
            &__right {
              margin: 10px 0 0;
              display: flex;
              list-style: none;
              &__btn {
                font-size: 14px;
                &__link {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: $main-black-color;
                  border: 1px solid $main-black-color;
                  text-decoration: none;
                }
              }
            }
          }
        }
        &__item-user{
          margin: 25px 0;
          background-color: $main-white-color;
          padding: 20px;
          &__edit{
            height: 50px;
            background-color: $furima-color;
            text-align: center;
            margin-bottom: 20px;
            &__link{
              line-height: 50px;
              color: $main-white-color;
              font-size: 20px;
              font-weight: bold;
              text-decoration: none;
            }
          }
          &__destroy{
            height: 50px;
            background-color: #ea352d;
            text-align: center;
            &__link{
              line-height: 50px;
              color: $main-white-color;
              font-size: 20px;
              font-weight: bold;
              text-decoration: none;
            }
          }
        }
        &__comment-box {
          padding: 24px;
          background-color: $main-white-color;
          margin: 10px 0;
          text-align: center;
          &__list {
            padding: 24px;
            &__box {
              border: 1px solid #dedede;
              padding: 16px;
              margin: 15px;
              &__name {
                display: flex;
                justify-content: space-between;
                &__saler {
                  color: $furima-color;
                  font-weight: bold;
                }
                &__delete {
                  color: $main-white-color;
                  font-size: 10px;
                  height: 20px;
                  width: 50px;
                  text-decoration: none;
                  background-color: red;
                  line-height: 20px;
                  border-radius: 0.3em;
                  font-weight: bold;
                }
                &__nickname {
                  font-weight: bold;
                }
              }
              &__message {
                &__text {
                  text-align: center;
                  background-color: #EEEEEE;
                  line-height: 1.5;
                }
                &__date {
                  color: #dedede;
                  text-align: left;
                  font-size: 14px;
                }
              }
            }
          }
          &__form {
            display: block;
            &__textarea {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            &__message {
              padding: 8px;
              font-size: 14px;
              background-color: #EEEEEE;
              margin: 10px 0;
              text-align: left;
            }
            &__btn {
              line-height: 48px;
              background: $furima-color;
              border: 1px solid $furima-color;
              color: $main-white-color;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
          &__signin {
            font-size: 22px;
            font-weight: bold;
            &__logout {
              color: $furima-color;
              text-decoration: none;
            }
            &__signup {
              color: $furima-color;
              text-decoration: none;
            }
          }
        }
      }
      &__links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        &__left {
          &__link {
            text-decoration: none;
            color: $furima-color;
          }
        }
        &__right {
          &__link {
            text-decoration: none;
            color: $furima-color;
          }
        }
      }
      &__items {
        &__link {
          display: block;
          margin: 24px 0 8px;
          color: $furima-color;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}