.products-container {
  padding: 40px;
  margin: 0 auto;
  background-color: #EEEEEE;
  .products-index {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    .title {
      border-radius: 5px 5px 0  0;
      padding: 16px 10px 8px;
      background-color: #3CCACE;
      color: #FFF;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
    }
    .category_wrapper {
      color: #ffb340;
      font-size: 14px;
      background-color: #fff;
      margin-bottom: 30px;
      display: flex;
      .category_links {
        padding: 8px;
        .category_link {
          line-height: 26px;
          margin: 10px;
          color: #ffb340;
          text-decoration: none;
        }
      }
    }
  }


    .category__link__product__lists {
      margin: 30px auto;
      text-decoration: none;
      .category__link__product__lists__link__images {
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        .category__link__product__lists__link__body {
          background-color: white;
          color: #333;
          padding: 16px;
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
          }
          .category__link__product__lists__body__name__detail {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .category__link__product__lists__name__details__p {
              font-size: 10px;
              text-align: left;
            }
          }
      }
    }
  
}
    
  

