@mixin signup-main{
  display: block;
  background-color: white;
  width: 700px;
  margin: auto;
  &__head {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    padding: 30px 0;
    border-bottom: solid 1px #EEEEEE;
  }
}

@mixin signup-header{
  text-align: center;
  padding: 40px 0;
  img {
    width: 180px;
    height: 48px;
  }
}

// progress-bar
@mixin progress-bar-text($color){
  color: $color;
  font-size: 0.8em;
  padding-bottom: 5px;
}

@mixin progress-bar-circle($color){
  background-color: $color;
  width: 10px;
  height: 10px;
  line-height: 30px;
  border-radius: 50%;
  margin: auto;
}

@mixin progress-bar-line($color, $left, $width) {
  position: absolute;
  left: $left;
  bottom: 43%; /*下線の上下位置調整*/
  display: inline-block;
  width: $width; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: $color; /*下線の色*/
}

@mixin form-box($color) {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-indent: 1em;
  border: solid 1px $color;
  border-radius: 0.3em;
}

@mixin form-birthday(){
  height: 50px;
  border: solid 1px gray;
  border-radius: 0.3em;
  width: 33%;
}

@mixin form-announce-btn($color){
  color: white;
  background-color: $color;
  font-size: 0.8em;
  border-radius: 2px;
  padding: 1px 1px;
  vertical-align: middle;
  margin: 0 0 2px 4px;
}

// フォームのエラーメッセージ表示
.error-message{
  ul{
    li{
      margin-top: 10px;
      font-size: 0.9em;
      color: $red-btn-color;
    }
  }
}


.signup-container {
  height: 100%;
  background-color: #EEEEEE;

  // 新規登録方法選択画面
  .signup-index-header {
    @include signup-header;
  }
  .signup-index-main {
    @include signup-main();
    &__inner { 
      display: block;
      padding: 30px 0;

      &--btn-default {
        display: block;
        width: 50%;
        line-height: 50px;
        margin: auto;
        margin-bottom: 15px;
        text-decoration: none;
        text-align: center;
        border-radius: 0.3em;
      }
      
      &--btn-mail{
        background-color: $red-btn-color;
        color: white;
        p {
          font-size: 0.8em;
        }
      }

      &--btn-google{
        background-color: white;
        border: solid 1px gray;
        color: black;
        img {
          width: 15px;
          height: 15px;
        }
      }

      &--btn-facebook{
        background-color: #385185;
        color: white;
      }

      &--btn-apple{
        background-color: black;
        color: white;
      }

      &__announce{
        text-align: center;
        padding-top: 50px;
        color: gray;
        font-size: 0.9em;
        a {
          text-decoration: none;
          color: $furima-color;
        }
      }
    }
  }

  // 新規登録フッダー
  .signup-index-footer {
    padding: 50px 0;
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        font-size: 0.7em;
        margin-left: 10px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    &--logo {
      padding-top: 10px;
      img {
        width: 100px;
        height: 30px;
        filter: grayscale(100%);
      }
    }
  }

  // ユーザー登録フォーム
  .signup-registration-header {
    display: flex;
    padding: 40px 0;
    margin: auto;
    justify-content: center;
    img {
      width: 180px;
      height: 48px;
      margin-right: 50px;
    }

    // progress-bar
      ul{
        display: table-cell;
        padding-left: 30px;
        // progress-bar-line
        position: relative;
        .progress-bar__left--complete{
          @include progress-bar-line($furima-color, 118%, 98%)
        }
        .progress-bar__left--incomplete{
          @include progress-bar-line(gray, 118%, 98%)
        }
        .progress-bar__right--complete{
          @include progress-bar-line($furima-color, 108%, 82%)
        }
        .progress-bar__right--incomplete{
          @include progress-bar-line(gray, 108%, 82%)
        }
      }
      .complete{
        margin-left: 1.2em;
      }

      .progress-text {
        &--complete {
          @include progress-bar-text($furima-color);
        }
        &--incomplete{
          @include progress-bar-text(gray);
        }
      }
      .progress-circle {
        &--complete {
          @include progress-bar-circle($furima-color);
        }
        &--incomplete {
          @include progress-bar-circle(gray);
        }
      }
  }
  .signup-registration-main {
    @include signup-main();
    padding-bottom: 20px;
    &__inner {
      .field {
        margin: auto;
        padding: 15px 0;
        width: 50%;
        &__label {
          &__form-require {
            @include form-announce-btn($red-btn-color);
          }
          &__form-arbitrary {
            @include form-announce-btn(gray);
          }
        }
        &__input {
          input {
            @include form-box(gray);
          }
          &__send-name {
            margin-top: 10px;
          }
          select {
            @include form-box(gray);
          }
        }
        &__input-name {
          display: flex;
          justify-content: space-between;
          &--left {
            width: 48%;
            input {
              @include form-box(gray);
            }
          }
          &--right {
            width: 48%;
            input {
              @include form-box(gray);
            }
          }
        }

        &__input-birthday{
          width: 100%;
          display:flex;
          justify-content: space-between;

          #user_birthday_1i{
            @include form-birthday();
          }
          #user_birthday_2i{
            @include form-birthday();
          }
          #user_birthday_3i{
            @include form-birthday();
          }
        }

        // エラーメッセージ
        &__input-error {
          input {
            @include form-box($red-btn-color);
          }
          &__send-name {
            margin-top: 10px;
          }
          select {
            @include form-box($red-btn-color);
          }
        }
        &__input-name-error {
          display: flex;
          justify-content: space-between;
          &--left {
            width: 48%;
            input {
              @include form-box($red-btn-color);
            }
          }
          &--right {
            width: 48%;
            input {
              @include form-box($red-btn-color);
            }
          }
        }
      }
      
      .red-btn {
        width: 100%;
        height: 50px;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        background-color: $red-btn-color;
        border: none;
        border-radius: 0.3em;
        text-decoration: none;
      }

      // 登録完了
      &__done{
        width: 100%;
        height: 600px;
        text-align: center;
        &__text{
          padding: 50px 0;
        }
        &__btn{
          display: block;
          width: 40%;
          line-height: 50px;
          margin: auto;
          margin-bottom: 60px;
          text-align: center;
          border-radius: 0.3em;
          background-color: $red-btn-color;
          a {
            text-decoration: none;
            color: white;
          }
        }
        &__img {
          background-image: image-url('bg-mainVisual-pict_pc.jpg');
          height: 360px;
          background-size:cover;
        }
      }

      // ログイン時エラー
      .login_error_text{
        text-align: center;
        font-size: 0.9em;
        color: $red-btn-color;
      }
    }
  }
}