= render "shared/header"
.done#fullsize
  .done__title
    商品を出品しました
  .done__backlink
    = link_to 'トップページへ戻る', root_path, class: 'link'
  .done__backlink
    =link_to '出品した商品を確認する', item_path(@item), class: 'link'
    
= render "sell-tab"
= render "shared/footer"