-# ヘッダー
.signup-container
  = render '/signup/index-header'

.body
  .body__purchase

    -# 購入内容の確認
    .body__purchase__title
      購入内容の確認

    -# 商品情報
    .body__purchase__item
      .body__purchase__item__image
        =image_tag 'member_photo_noimage_thumb.png', size: "100x100"
      .body__purchase__item__name
        職人が絶賛！？モナコ名物F１プラモデル（車体に２箇所キズあり）
      .body__purchase__item__name__price
        .body__purchase__item__name__price__tax
          送料込み (税込)
        .body__purchase__item__name__price__sum
          3,000円

    -# 金額情報
    .body__purchase__price
      .body__purchase__price__text
        支払い金額
      .body__purchase__price__amount
        3,000円

    -# 支払い方法
    .body__purchase__payment
      .body__purchase__payment__topic
        支払い方法
      .body__purchase__payment__info
        .body__purchase__payment__info__way
          クレジットカード
        .body__purchase__payment__info__number
          *********
        .body__purchase__payment__info__expiration-date
          有効期限

    -# 配送先
    .body__purchase__shipping--address
      .body__purchase__shipping--address__topic
        配送先
      .body__purchase__shipping--address__info
        .body__purchase__shipping--address__info__address-number
          000-0000
        .body__purchase__shipping--address__info__address
          東京都XXXX区◯◯◯◯町△△△△-△△△△-△△△△番地
        .body__purchase__shipping--address__info__name
          増永拓郎様

    -# 購入確定ボタン
    .body__purchase__confirmation
      .body__purchase__confirmation__note
        - if @card.blank?
          %p ※下記よりクレジットカードの登録を行った後購入手続きに進みます。
        - else
          %p ※必要事項を今一度ご確認ください。
      .body__purchase__confirmation__purchase
        -# = form_with url: card_new_path, class:"purchase-btn" do
        -#   %script{type: "text/javascript", src: "https://checkout.pay.jp",class:"purchase-btn", "data-text": "購入する", "data-key": "pk_test_07152a77260b38c5464b6e22"}
        - if @card.blank?
          = form_tag card_pay_path, method: :post do
            :plain
            %script{type: "text/javascript", src: "https://checkout.pay.jp", class:"payjp-button", "data-text": "カード情報登録後に購入する", "data-key": "pk_test_07152a77260b38c5464b6e22"}
        - else
          = link_to card_new_path, class: "purchase-btn" do
            購入する

-# フッター
.signup-container
  = render '/signup/footer'