.mypage-sidebar
  %ul.mypage-sidebar__list
    %li
      = link_to good_index_mypage_path, class:'mypage-sidebar__list__content' do
        いいね！一覧
        = icon 'fas', 'chevron-right'
    %li
      = link_to good_index_mypage_path, class:'mypage-sidebar__list__content' do
        いいね！一覧
        = icon 'fas', 'chevron-right'
    


