= render 'shared/header'
- breadcrumb :logout, @user
= render "layouts/breadcrumbs"
.mypage-container
  = render 'side-bar'
  .mypage-main
    .mypage-main__logout
      = link_to destroy_user_session_url, method: :delete, class: 'btn-logout' do
        ログアウト